.category {
  @include reset-btn();
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  height: rem(72);
  box-sizing: border-box;
  width: 100%;
  border-radius: rem(8);
  border: rem(2) solid var(--light-grey-stroke);
  padding: 0 rem(16);
  text-transform: uppercase;
  transition: all 0.2s ease;
  @media (max-width: $tablet) {
    height: rem(57);
  }
  &:hover {
    transition: all 0.2s ease;
    border-color: rgba(53, 151, 64, 0.08);
  }
  &._active {
    border-color: var(--primary-color);
  }
}
