.h1 {
  font-size: rem(48);
  line-height: 1.12;
  @media (max-width: $tablet) {
    font-size: rem(28);
    line-height: 1.28;
    @include letter-spacing-em(-0.56, 28);
  }
}

.h2 {
  font-size: rem(36);
  line-height: 1.5;
  letter-spacing: -0.06em;
  @media (max-width: $tablet) {
    font-size: rem(22);
    line-height: 1.31;
  }
}

.h3 {
  font-size: rem(24);
  font-weight: 600;
  line-height: 1.31;
  @include letter-spacing-em(-0.48, 24);
  @media (max-width: $tablet) {
    font-size: rem(18);
    @include lineHeight(28, 18);
  }
}

.regular-14 {
  font-size: rem(14);
  line-height: 1.78;
}

.light-16 {
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.75;
  @media (max-width: $tablet) {
    font-size: rem(14);
    line-height: 1.96;
  }
}

.medium-18 {
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.38;
  @include letter-spacing-em(-0.72, 18);
}

.medium-16 {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.78;
}

.card-title {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.1;
  @include letter-spacing-em(-0.64, 16);
}
