.help {
  overflow: hidden;
  padding-block: rem(138) rem(61);
  &__container {
    display: grid;
    align-items: center;
    gap: rem(160);
    grid-template-columns: repeat(2, 1fr);
  }
  &__title {
    margin-bottom: rem(30);
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(28);
  }
  &__image-decor {
    --size: #{rem(466)};
    position: relative;
    width: var(--size);
    height: var(--size);
    &::after {
      content: "";
      position: absolute;
      top: rem(-55);
      left: rem(-49);
      width: rem(734);
      height: rem(579);
      background: url("/help-decor.png") no-repeat 0 0 / contain;
      z-index: -1;
    }
  }
}
