:root {
  // COLORS
  --black: #000000;
  --white: #ffffff;
  --text-primary: #1f2533;
  --text-secondary: #70737c;
  --light-grey-stroke: #efefef;
  --light-green: #eaf1eb;
  --green-brand: #359740;
  --green-brand-hover: #2bb159;
  --invisible-green: #35974014;

  // FONTS
  --default-font-style: normal;
  --default-font-size: 1rem;
  --default-font-weight: 400;
  --default-line-height: 1.3;
}
