:root {
  --black: #000000;
  --white: #ffffff;
  --cultured: #f7f7f7;

  --ff-default: "Lexend", Arial, sans-serif;

  --default-font-style: normal;
  --default-font-size: 1rem;
  --default-font-weight: 400;
  --default-line-height: 1.3;
}
