@use "sass:math";

@function rem($px, $context: 16) {
  @return calc(round(calc($px / $context) * 1rem * 10000) / 10000);
}

@mixin reset-btn {
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  background: 0;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

@function vw($px, $width: 1440) {
  @return calc(round(math.div($px, $width) * 100vw * 10000) / 10000);
}
