* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  @media (max-width: $desktop) {
    font-size: vw(16);
  }
  @media (min-width: ($desktop + 1px)) {
    font-size: clamp(16px, vw(16, 1440), 24px);
  }
  @media (max-width: $tablet) {
    font-size: 16px;
  }
}

body {
  font-family: var(--ff-default);
  font-style: var(--default-font-style);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}
