* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 16px;
  @media (max-width: $desktop) {
    font-size: vw(16);
  }
}

body {
  font-family: var(--ff-default);
  font-style: var(--default-font-style);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);
}

ul {
  list-style: none;
}
