.category {
  @include reset-btn();
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  height: rem(72);
  box-sizing: border-box;
  width: 100%;
  border-radius: rem(8);
  border: rem(2) solid var(--light-grey-stroke);
  padding: 0 rem(16);
  text-transform: uppercase;
}
