.input {
  --size: #{rem(20)};
  $this: &;
  position: relative;
  display: inline-flex;
  gap: rem(9);
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  * {
    cursor: pointer;
  }
  &._radio {
    #{$this}__box {
      border-radius: 50%;
    }
    #{$this}__input:checked + #{$this}__box {
      background: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(8);
        height: rem(8);
        border-radius: 50%;
        background: var(--green-brand);
      }
    }
  }
  &._package {
    width: 100%;
    padding: rem(14) rem(12);
    height: rem(44);
    border-radius: rem(8);
    border: 1px solid var(--light-grey-stroke);
    &:has(#{$this}__input:checked) {
      border-color: var(--green-brand);
    }
  }
  &__input {
    width: var(--size);
    height: var(--size);
    position: absolute;
    border: 0;
    outline: 0;
    opacity: 0;

    &:hover + #{$this}__box {
      border-color: var(--green-brand);
      transition: border-color 0.3s ease-out;
    }
    &:checked + #{$this}__box {
      border-color: var(--green-brand);
      background: url("/checkbox.svg") center center no-repeat;
      background-size: rem(13) rem(9);
    }
  }
  &__box {
    display: block;
    border-radius: rem(6);
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--light-grey-stroke);
    transition: border-color 0.3s ease-out;
    flex-shrink: 0;
  }
  &__label {
    @media (max-width: $tablet) {
      max-width: rem(171);
    }
  }
  &__price {
    margin-left: auto;
    display: flex;
    gap: rem(8);
    align-items: center;
  }
}
