.hero {
  margin-bottom: rem(16);
  &__container {
    position: relative;
    overflow: hidden;
    background: var(--light-green);
    border-radius: rem(24);
    padding: rem(48) 0 rem(52) rem(76);
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: rem(384);
      height: rem(440);
      background: url("/leaves.png") no-repeat 0 0 / cover;
      @media (max-width: $tablet) {
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
        width: rem(341);
        height: rem(206);
        background: url("/leaves-mobile.png") no-repeat 0 0 / cover;
      }
    }
    @media (max-width: $tablet) {
      padding: rem(41) rem(14) rem(48) rem(14);
    }
  }
  &__inner {
    display: grid;
    gap: rem(74);
    justify-content: space-between;
    grid-template-columns: minmax(auto, rem(650)) rem(310);
    @media (max-width: $tablet) {
      display: flex;
      gap: rem(16);
      flex-direction: column-reverse;
    }
  }
  &__content {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    letter-spacing: -0.06em;
    margin-bottom: rem(13);
    @media (max-width: $tablet) {
      margin-bottom: rem(9);
    }
  }
  &__description {
    max-width: rem(560);
    margin-bottom: rem(21);
    @media (max-width: $tablet) {
      margin-bottom: rem(18);
    }
  }
  &__picture {
    position: relative;
    top: rem(20);
    width: rem(310);
    height: rem(347);
    @media (max-width: $tablet) {
      position: static;
      width: rem(188);
      height: rem(188);
      margin: 0 auto;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 rem(4) rem(26) rgba(0, 0, 0, 0.41));
    transform: translateZ(0); // safari
    @media (max-width: $tablet) {
      object-fit: initial;
    }
  }
  &__prices {
    margin-bottom: rem(25);
    @media (max-width: $tablet) {
      order: -1;
      margin-bottom: rem(6);
    }
  }
  &__buttons {
    display: flex;
    gap: rem(12);
  }
}

.prices {
  display: flex;
  gap: rem(21);
  align-items: center;
  @media (max-width: $tablet) {
    gap: rem(12);
  }
  &__item {
    display: flex;
    gap: rem(16);
    align-items: center;
    font-weight: 600;
    @media (max-width: $tablet) {
      gap: rem(8);
    }
  }
  &__fire {
    --size: #{rem(46)};
    width: var(--size);
    height: var(--size);
    @media (max-width: $tablet) {
      --size: #{rem(32)};
    }
  }
  &__new {
    font-size: rem(42);
    line-height: 1.28;
    @media (max-width: $tablet) {
      font-size: rem(32);
      line-height: 1.34;
      @include letter-spacing-em(-0.9, 32);
    }
  }
  &__old {
    font-size: rem(22);
    line-height: 1.8;
    text-decoration-line: line-through;
    color: var(--text-secondary);
  }
}
