.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: rem(17);
  height: rem(48);
  border: 1px solid var(--light-grey-stroke);
  border-radius: rem(71);
  padding: rem(12) rem(20);
  margin-right: rem(13);
  &__input {
    position: relative;
    width: 100%;
    top: rem(1);
    border: 0;
    outline: 0;
    font-size: rem(14);
    line-height: 1.78;
    &::placeholder {
      color: var(--text-secondary);
    }
  }
}
