.blog {
  margin-bottom: rem(86);
  @media (max-width: $tablet) {
    margin-bottom: rem(54);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(42);
    @media (max-width: $tablet) {
      margin-bottom: rem(26);
    }
  }
  &__grid {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(3, 1fr);
  }
}
